#image-page-not-found {
    display: block;
    margin: 50px auto 0 auto;
}

#jumboImg,
#feed-jumboImg {
    background-image: url(https://i.ytimg.com/vi/R0sDkek6JEU/maxresdefault.jpg);
    background-size: cover;
}

.post-title {
    text-align: center;
    font-size: 2rem;
}

.post-body {
    text-align: center;
    padding: 1%;
    margin-top: 5%;
}

.post-list-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 2%;
}

.list-group-item {
    font-size: 0.9rem;
}

.comment-title {
    font-weight: bold;
    font-size: 0.9rem;
}

.comment-email {
    text-decoration: underline;
    margin-bottom: 0.3rem;
}

.about-header {
    padding: 5%;
}

article {
    padding: 10%;
    padding-top: 0;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    font-family: 'Meera Inimai', sans-serif;
}

.main-container {
    padding-bottom: 20px;
    margin-bottom: 6%;
    margin-top: 0.4%;
}

.span-remove-post i {
    display: inline-block;
    float: right;
    color: #cb00ff;
    margin-bottom: 1%;
    cursor: pointer;
}

.input-comment {
    padding: 1%;
}
.button-holder{
    margin: 0 auto;
}